.extra-text{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.extra-img{
background-color: black;
border-radius: 20px;
}
.extra-img img {
    width: 300px;
    border-radius: 50px;
   
    
}

.fixing-extra-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 60px;
    
}

@media only screen and (max-width: 576px) {
    
    .fixing-extra-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}